In [1]:
import pandas as pd

In [2]:
d=pd.read_csv('spam.csv',encoding='latin1')

In [3]:
d.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
print(d['Unnamed: 2'].isnull().sum())
print(d['Unnamed: 3'].isnull().sum())
print(d['Unnamed: 4'].isnull().sum())

5522
5560
5566

In [5]:
d=d.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1)

In [6]:
d=d.rename(columns={'v1':'label', 'v2':'sms_message'})

In [7]:
d['label']

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: label, Length: 5572, dtype: object

In [8]:
d['label']=d['label'].replace(['ham'],'0')

In [9]:
d['label']=d['label'].replace(['spam'],'1')

In [10]:
d['label'].head()

0    0
1    0
2    1
3    0
4    0
Name: label, dtype: object

In [11]:
d.head()

  label                                        sms_message
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [45]:
d['sms_message'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [12]:
y=d['label']
x=d['sms_message']

In [13]:
# Splitting the dataset into the Training set and Test set  
from sklearn.model_selection import train_test_split  
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y,stratify=y, test_size=0.25, random_state=0)

In [15]:
vec = CountVectorizer(stop_words='english')
x_train = vec.fit_transform(x_train).toarray()
x_test = vec.transform(x_test).toarray()

In [19]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=10)
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [21]:
#n_estimators=100 means we are going to use 100 DT(decision trees) 
#so we can put this variable in RandomForestClassifier(n_estimators=100)
model.score(x_test,y_test)

0.9662598707824839

In [22]:
y_pred=model.predict(x_test)

In [36]:
y_pred[:50]

array(['0', '0', '0', '0', '0', '1', '0', '0', '1', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
      dtype=object)

In [34]:
y_test.head(50)

5177    0
2096    0
4229    0
5021    0
111     0
3826    1
957     0
4398    0
3558    1
1910    0
1007    0
598     0
5340    0
648     0
2062    0
4632    0
4589    0
3487    0
1515    0
125     0
5551    0
2150    0
4025    0
1383    0
590     1
1750    0
4239    0
1468    1
3056    0
2284    0
214     0
3880    0
1902    0
4968    0
1818    0
2286    0
5555    0
464     0
4196    1
3470    0
1253    0
2498    0
13      0
3273    0
3159    0
2304    0
3195    0
4093    0
149     0
844     0
Name: label, dtype: object

In [25]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)  
print(cm)

[[1205    1]
 [  46  141]]

In [26]:
from sklearn import metrics

print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1206
           1       0.99      0.75      0.86       187

    accuracy                           0.97      1393
   macro avg       0.98      0.88      0.92      1393
weighted avg       0.97      0.97      0.96      1393

In [30]:
model.predict(vec.transform(['please open this mail']).toarray())
# so here we got 0 means not spam

array(['0'], dtype=object)

In [49]:
print(model.predict(vec.transform(['Urgently click the link to get offer!']).toarray()))
# not able to detect

print(model.predict(vec.transform(["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"]).toarray()))

print(model.predict(vec.transform(["Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"]).toarray()))

['0']
['1']
['1']