In [115]:
import pandas as pd

In [116]:
d=pd.read_csv('weight-height.csv')

In [117]:
d.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [118]:
d['Height'].isnull().sum()

0

In [119]:
d['Weight'].isnull().sum()

0

In [120]:
y=d['Height'].copy()

In [121]:
y.head()

0    73.847017
1    68.781904
2    74.110105
3    71.730978
4    69.881796
Name: Height, dtype: float64

In [122]:
d=d.drop(columns=['Height'])

In [123]:
d.head()

  Gender      Weight
0   Male  241.893563
1   Male  162.310473
2   Male  212.740856
3   Male  220.042470
4   Male  206.349801

In [155]:
X=d.copy()

In [156]:
X.head()

  Gender      Weight
0   Male  241.893563
1   Male  162.310473
2   Male  212.740856
3   Male  220.042470
4   Male  206.349801

In [157]:
print(X.shape)
print(y.shape)

(10000, 2)
(10000,)

In [158]:
X.dtypes

Gender     object
Weight    float64
dtype: object

In [159]:
Gender=pd.get_dummies(X['Gender'],drop_first=True)

In [160]:
Gender.head()

   Male
0     1
1     1
2     1
3     1
4     1

In [161]:
X=X.drop('Gender',axis=1)
X.head()

       Weight
0  241.893563
1  162.310473
2  212.740856
3  220.042470
4  206.349801

In [162]:
X=pd.concat([X,Gender], axis=1)

In [163]:
X.head()

       Weight  Male
0  241.893563     1
1  162.310473     1
2  212.740856     1
3  220.042470     1
4  206.349801     1

In [164]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [165]:
print(X_train.head())
print(X_train.shape)

          Weight  Male
7389  118.764518     0
9275  156.778586     0
2995  211.114810     1
5316  127.616506     0
356   177.067774     1
(8000, 2)

In [145]:
print(X_test.head())
print(X_test.shape)

          Weight  Female  Male
9394  138.085796       1     0
898   187.363366       0     1
2398  216.533191       0     1
5906  131.761443       1     0
2343  157.718438       0     1
(2000, 3)

In [146]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [147]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [148]:
X_test.head()

          Weight  Female  Male
9394  138.085796       1     0
898   187.363366       0     1
2398  216.533191       0     1
5906  131.761443       1     0
2343  157.718438       0     1

In [149]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [151]:
print(y_pred)

[63.97801621 69.07096077 72.64788738 ... 65.73574039 66.95413365
 66.44526544]

In [152]:
print(y_test)

9394    64.723877
898     67.272171
2398    74.520972
5906    65.880014
2343    64.846301
          ...
1037    69.084897
2899    71.860625
9549    66.071107
2740    65.641536
6690    64.210866
Name: Height, Length: 2000, dtype: float64

In [153]:
from sklearn.metrics import r2_score
#through this we will calculate accuracy

In [154]:
r2_score(y_test,y_pred)

0.864642597342521