In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd

In [22]:
data=pd.read_csv("father.son.csv")
data

       fheight   sheight
0     65.04851  59.77827
1     63.25094  63.21404
2     64.95532  63.34242
3     65.75250  62.79238
4     61.13723  64.28113
...        ...       ...
1073  66.99681  70.75232
1074  71.33181  68.26774
1075  71.78314  69.30589
1076  70.73837  69.30199
1077  70.30609  67.01500

[1078 rows x 2 columns]

In [23]:
#data=data['fheight'] .drop('State',axis=1)
data=data.drop('fheight',axis=1)
data.head()

    sheight
0  59.77827
1  63.21404
2  63.34242
3  62.79238
4  64.28113

In [25]:
X=data.copy()
X

       sheight
0     59.77827
1     63.21404
2     63.34242
3     62.79238
4     64.28113
...        ...
1073  70.75232
1074  68.26774
1075  69.30589
1076  69.30199
1077  67.01500

[1078 rows x 1 columns]

In [28]:
X.describe()

           sheight
count  1078.000000
mean     68.684070
std       2.814702
min      58.507080
25%      66.931232
50%      68.615820
75%      70.465970
max      78.364790

In [29]:
Y=data['sheight'].copy()

In [31]:
print(X.shape)
print(Y.shape)
Y.dtype

(1078, 1)
(1078,)

dtype('float64')

In [32]:
X_train, X_test, y_train, y_test=train_test_split(X,Y,test_size=0.2, random_state=0)

In [33]:
print(X_train.shape)
print(X_test.shape)

(862, 1)
(216, 1)

In [34]:
print(y_train.shape)
print(y_test.shape)

(862,)
(216,)

In [35]:
#X_train.isnull().sum()
X_train

       sheight
988   68.92229
485   66.80557
54    67.62665
34    66.34666
366   70.28373
...        ...
1033  71.59639
763   69.10425
835   72.42180
559   69.43581
684   66.59349

[862 rows x 1 columns]

In [36]:
#y_train.isnull().sum()
y_train

988     68.92229
485     66.80557
54      67.62665
34      66.34666
366     70.28373
          ...
1033    71.59639
763     69.10425
835     72.42180
559     69.43581
684     66.59349
Name: sheight, Length: 862, dtype: float64

In [37]:
reg = LinearRegression()

In [38]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [40]:
X_test

       sheight
239   66.67371
1016  70.36632
725   68.09837
486   67.09308
561   69.54252
...        ...
474   66.79006
632   75.67784
658   65.22864
533   68.63531
483   67.20643

[216 rows x 1 columns]

In [41]:
y_test

239     66.67371
1016    70.36632
725     68.09837
486     67.09308
561     69.54252
          ...
474     66.79006
632     75.67784
658     65.22864
533     68.63531
483     67.20643
Name: sheight, Length: 216, dtype: float64

In [43]:
# Predicting the Test set results
y_pred = reg.predict(X_test)

In [44]:
y_pred

array([66.67371, 70.36632, 68.09837, 67.09308, 69.54252, 68.54259,
       70.65713, 67.52548, 66.75589, 71.1205 , 73.17304, 65.90773,
       70.13835, 66.45202, 71.80464, 70.36684, 78.2476 , 74.35692,
       67.4346 , 64.80838, 72.54877, 67.40154, 66.97572, 64.8584 ,
       66.25827, 65.51351, 72.48159, 69.91638, 67.24632, 69.76556,
       68.41445, 68.59444, 66.45585, 67.52273, 70.60668, 69.26009,
       72.62022, 65.67211, 70.32714, 69.07283, 66.31558, 70.40239,
       72.67319, 66.8162 , 67.72522, 63.28805, 69.02418, 69.97604,
       73.82642, 66.37511, 68.37728, 66.00879, 68.53037, 66.28457,
       65.08145, 63.21404, 70.36167, 65.55215, 66.12728, 66.49077,
       68.27802, 65.29391, 66.94071, 69.62286, 74.3209 , 68.19156,
       68.58894, 73.22554, 70.37578, 72.131  , 61.22021, 69.11352,
       71.46158, 72.29401, 68.34573, 69.75304, 70.45174, 73.19223,
       67.10018, 64.60295, 64.79017, 71.03018, 68.06898, 62.52373,
       68.4132 , 64.08187, 71.49891, 72.05185, 69.07281, 69.05703,
       71.30872, 66.54726, 69.41491, 65.59545, 69.2989 , 67.23833,
       65.70133, 70.27479, 68.07838, 74.31029, 68.23857, 67.91483,
       69.45774, 70.23168, 69.23383, 67.92987, 67.47923, 68.08381,
       68.60006, 73.02984, 63.78835, 71.24074, 71.32092, 67.62089,
       63.61572, 67.57913, 72.441  , 67.84693, 65.69966, 69.83745,
       71.21331, 59.81693, 70.18348, 68.3138 , 72.2446 , 67.01431,
       68.18623, 71.98836, 72.44981, 66.43499, 67.96334, 68.59541,
       70.52011, 66.78051, 70.31993, 75.70222, 65.08945, 65.76873,
       69.36661, 68.28458, 64.24221, 66.23255, 61.28882, 63.34242,
       73.67679, 71.20207, 73.75503, 70.21726, 66.30166, 71.36701,
       67.15587, 66.81229, 64.44796, 67.28305, 65.421  , 65.16843,
       67.77439, 69.36998, 72.0908 , 68.07695, 73.2649 , 67.4089 ,
       63.94637, 67.015  , 69.47357, 69.72691, 66.8442 , 70.98853,
       63.17978, 67.37322, 66.61969, 68.22794, 67.37113, 66.34685,
       70.67752, 66.96445, 68.07785, 65.82389, 66.42142, 66.53703,
       65.10223, 72.3071 , 71.19803, 66.86465, 69.14581, 67.87885,
       67.14932, 67.24268, 70.25238, 71.22916, 68.36264, 66.61389,
       68.9062 , 68.90541, 64.38337, 68.38258, 70.39288, 68.6212 ,
       68.08671, 69.71807, 66.75153, 69.5816 , 64.28548, 68.13611,
       64.61338, 70.59135, 69.65334, 67.75943, 66.81865, 70.39131,
       69.00102, 66.79006, 75.67784, 65.22864, 68.63531, 67.20643])

In [45]:
y_test

239     66.67371
1016    70.36632
725     68.09837
486     67.09308
561     69.54252
          ...
474     66.79006
632     75.67784
658     65.22864
533     68.63531
483     67.20643
Name: sheight, Length: 216, dtype: float64

In [47]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [48]:
score

1.0