In [78]:
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd

In [79]:
dataset = pd.read_csv('tennis.csv')

In [80]:
dataset.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [81]:
y=dataset['play']

In [82]:
y.head()

0     no
1     no
2    yes
3    yes
4    yes
Name: play, dtype: object

In [83]:
x=dataset.drop(['play'],axis=1)

In [84]:
x.head()

    outlook  temp humidity  windy
0     sunny   hot     high  False
1     sunny   hot     high   True
2  overcast   hot     high  False
3     rainy  mild     high  False
4     rainy  cool   normal  False

In [85]:
x1=pd.get_dummies(dataset[['outlook','temp','humidity','windy']])
#transfrom form categorical to numerical

In [86]:
x1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   windy             14 non-null     bool
 1   outlook_overcast  14 non-null     uint8
 2   outlook_rainy     14 non-null     uint8
 3   outlook_sunny     14 non-null     uint8
 4   temp_cool         14 non-null     uint8
 5   temp_hot          14 non-null     uint8
 6   temp_mild         14 non-null     uint8
 7   humidity_high     14 non-null     uint8
 8   humidity_normal   14 non-null     uint8
dtypes: bool(1), uint8(8)
memory usage: 254.0 bytes

In [87]:
x2=pd.DataFrame(x1)
print(len(x2))
print(x2.head())

14
   windy  outlook_overcast  outlook_rainy  outlook_sunny  temp_cool  temp_hot  \
0  False                 0              0              1          0         1
1   True                 0              0              1          0         1
2  False                 1              0              0          0         1
3  False                 0              1              0          0         0
4  False                 0              1              0          1         0

   temp_mild  humidity_high  humidity_normal
0          0              1                0
1          0              1                0
2          0              1                0
3          1              1                0
4          0              0                1

In [99]:
# Splitting the dataset into the Training set and Test set  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x2, y, test_size = 0.1, random_state = 0)

In [100]:
print(type(x_train))
print(x_train.head())

<class 'pandas.core.frame.DataFrame'>
    windy  outlook_overcast  outlook_rainy  outlook_sunny  temp_cool  \
4   False                 0              1              0          1
11   True                 1              0              0          0
2   False                 1              0              0          0
13   True                 0              1              0          0
9   False                 0              1              0          0

    temp_hot  temp_mild  humidity_high  humidity_normal
4          0          0              0                1
11         0          1              1                0
2          1          0              1                0
13         0          1              1                0
9          0          1              0                1

In [101]:
print(type(x_test))
print(x_test.head())

<class 'pandas.core.frame.DataFrame'>
   windy  outlook_overcast  outlook_rainy  outlook_sunny  temp_cool  temp_hot  \
8  False                 0              0              1          1         0
6   True                 1              0              0          1         0

   temp_mild  humidity_high  humidity_normal
8          0              0                1
6          0              0                1

In [102]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [103]:
# Predicting the Test set results  
y_pred = classifier.predict(x_test)

In [104]:
y_test

8    yes
6    yes
Name: play, dtype: object

In [105]:
y_pred

array(['no', 'yes'], dtype='<U3')

In [106]:
classifier.score(x_test,y_test)

0.5

In [108]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)  
print(cm)

[[0 0]
 [1 1]]