In [157]:

import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB

In [158]:
train=pd.read_csv("train_titanic.csv")

In [159]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [160]:
#
train=train.drop(['PassengerId','Name','Parch','Ticket','Cabin','Embarked'], axis=1)

In [161]:
target_train=train['Survived']
target_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [162]:
target_train.isna().sum()

0

In [163]:
inputs_train=train.drop(['Survived'],axis=1)

In [164]:
inputs_train.head()

   Pclass     Sex   Age  SibSp     Fare
0       3    male  22.0      1   7.2500
1       1  female  38.0      1  71.2833
2       3  female  26.0      0   7.9250
3       1  female  35.0      1  53.1000
4       3    male  35.0      0   8.0500

In [165]:
sex=pd.get_dummies(inputs_train['Sex'],drop_first=True)

In [166]:
sex.head()

   male
0     1
1     0
2     0
3     0
4     1

In [167]:
inputs_train=inputs_train.drop(['Sex'],axis=1)

In [168]:
inputs_train.head()

   Pclass   Age  SibSp     Fare
0       3  22.0      1   7.2500
1       1  38.0      1  71.2833
2       3  26.0      0   7.9250
3       1  35.0      1  53.1000
4       3  35.0      0   8.0500

In [169]:
inputs=pd.concat([inputs_train,sex],axis=1)
#coverted into numerical from categorical because machine learning model can not handle text

In [170]:
inputs_train.head()

   Pclass   Age  SibSp     Fare
0       3  22.0      1   7.2500
1       1  38.0      1  71.2833
2       3  26.0      0   7.9250
3       1  35.0      1  53.1000
4       3  35.0      0   8.0500

In [171]:
print(inputs_train['Pclass'].isna().sum())
print(inputs_train['Age'].isna().sum())
print(inputs_train['SibSp'].isna().sum())
print(inputs_train['Fare'].isna().sum())

0
177
0
0

In [172]:
inputs_train['Age']=inputs_train.Age.fillna(inputs_train['Age'].mean())

In [173]:
print(inputs_train['Age'].isna().sum())

0

In [174]:
X_train,X_test,y_train,y_test=train_test_split(inputs_train,target_train,test_size=0.2, random_state=0)

In [175]:
model=GaussianNB()

In [176]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [177]:
pred=model.predict(X_test)

In [178]:
print(pred)

[0 0 0 1 0 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0
 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 0 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 1 0 1 1 0
 0 0 1 1 0 0 0 0 0 0 0 1 1 0 0 1 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0
 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0]

In [179]:
model.score(X_test,y_test)

0.7150837988826816

In [180]:
y_pred=model.predict(X_test)

In [186]:
y_pred

array([0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0], dtype=int64)

In [183]:
y_test

495    0
648    0
278    0
31     1
255    1
      ..
780    1
837    0
215    1
833    0
372    0
Name: Survived, Length: 179, dtype: int64

In [191]:
#model.r2_score(y_test,y_pred)
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.72      0.87      0.79       110
           1       0.70      0.46      0.56        69

    accuracy                           0.72       179
   macro avg       0.71      0.67      0.67       179
weighted avg       0.71      0.72      0.70       179

In [190]:
print(metrics.confusion_matrix(y_test, y_pred))

[[96 14]
 [37 32]]